/*Estilos para el banner*/
.banner
{
   background-color: rgb(39, 128, 212);
}
/* */
.login_form
{
   width: 20vw;
   margin-top: 30px;
}

.redessociales
{
   width: 200px;
   height: 30px;
   background-color: aqua;
}
.continuarcon
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: medium;
   font-weight: bold;
}
.margin-button
{
   margin-right: 30%;
}

/* Botón de la barra de búsqueda */
.botonbusqueda
{
   margin-left: 5px;
}
/* Imagen de portada */
.portada
{
   background-image: url("../images/biblioteca_mediana.jpg");
   background-repeat: no-repeat;
   width: 100%;
    
    
}
