<!-- Herencia del archivo layout_flask mediante jinja -->
{% extends "layout_flask.html"%}

<!-- Código de Título de la pestaña -->
<!-- Código de apertura -->
{% block titulo %}
books-richt
<!-- Cierre de bloque -->
{% endblock %}

<!-- Código de Contenido -->
<!-- Apertura de bloque -->
{% block main %}
<h3>{{bottom}}</h3>

{% with message = get_flashed_messages() %}
{% if message %}

<div class="alert {{category}}">
<h5>{{message}}</h5>
</div>

{% endif %}
{% endwith %}

<h1>{{message}}</h1>

<!-- Cierre del bloque -->
{% endblock %}