<!-- Herencia del archivo layout_flask mediante jinja -->
{% extends "layout_flask.html"%}

<!-- Código de Título de la pestaña -->
<!-- Código de apertura -->
{% block titulo %}
books-richt
<!-- Cierre de bloque -->
{% endblock %}

<!-- Código de Contenido -->
<!-- Apertura de bloque -->
{% block main %}

<script src="/static/carruselconlibros.js"></script>

<!-- CARRUSEL -->
<div class="container" style="margin-top: 30px;">
    {% if session.user_id %}
    
    <!-- Carrusel de imágenes con info de los libros -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div id="contenedor" class="carousel-inner">
                       
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    {% else %}
    <img src="/static/images/biblioteca_mediana.jpg" class="portada" width="Responsive image">
    {% endif %}
</div>


<!-- Cierre del bloque -->
{% endblock %}