<!-- Herencia del archivo layout_flask mediante jinja -->
{% extends "layout_flask.html"%}

<!-- Código de Título de la pestaña -->
<!-- Código de apertura -->
{% block titulo %}
books-richt
<!-- Cierre de bloque -->
{% endblock %}

<!-- Código de Contenido -->
<!-- Apertura de bloque -->
{% block main %}
<!-- Imagen de portada -->
<div>
    <h3>DESCRIPCIÓN DEL LIBRO</h3>
    <div class="div">{{ book.title }}</div>
    <div class="di">{{ book.isbn }}</div>
    <div class="div">{{book.author}}</div>
    <div class="div">{{book.year}}</div>        
</div>
<!-- RESEÑA DEL USUARIO -->
<form>   
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">RESEÑA</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>

<!-- Cierre del bloque -->
{% endblock %}