<!-- Herencia del archivo layout_flask mediante jinja -->
{% extends "layout_flask.html" %}

<!-- Código de Título de la pestaña -->
<!-- Código de apertura -->
{% block title %}
Register


{% endblock %}<!-- Cierre de bloque -->

<!-- Código de Contenido Principal (main) -->
<!-- Apertura de bloque main -->
{% block main %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="encabezadocuenta mt-4">
            <h3>Create an Account</h3>
        </div>
    </div>
    <!-- Primera columna para contenido -->
    <div class="row justify-content-around mt-4">
        <div class="col d-flex justify-content-center">

            <div class="login_form">

                <form action="/register" method="post">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username"
                            type="text" required />
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" placeholder="Password" type="password"
                            title="Use mayúsculas, minúsculas y caracteres" minlength="8" maxlength="30" required />
                    </div>

                    <div class="form-group">
                        <input class="form-control" name="confirmation" placeholder="confirmation" type="password"
                            minlength="8" maxlength="30" required />
                    </div>

                    <button class="btn btn-primary" type="submit">register</button>
                </form>
            </div>
        </div>
        <!-- Segunda columna para contenido -->
        <!-- Botones con íconos de redes sociales -->
        <div class="col">
           <div class="ml-5">
            <button type="button" class="btn"><span><img src="https://img.icons8.com/color/30/000000/google-logo.png"/></span><span>&nbsp &nbsp &nbsp </span><span>Continue with Google</span></button>
           </div>
           <br>
           <div class="ml-5">
            <button type="button" class="btn"><span><img src="https://img.icons8.com/color/30/000000/facebook.png"/></span><span>&nbsp &nbsp &nbsp </span><span style="color: rgb(10, 10, 10);">Continue with Facebook</span></button>
           </div>
           <br>
           <div class="ml-5">
            <button type="button" class="btn"><span><img src="https://img.icons8.com/ios-glyphs/30/000000/mac-os.png"/></span><span>&nbsp &nbsp &nbsp </span><span style="color: rgb(10, 10, 10);">Continue with Apple</span></button>
           </div>
        </div>        
    </div>
</div>

<!-- Apertura de bloque main -->
{% endblock %}