<!-- Herencia del archivo layout_flask mediante jinja -->
{% extends "layout_flask.html" %}

<!-- Código de Título de la pestaña -->
<!-- Código de apertura -->
{% block title %}
Resultados


{% endblock %} <!-- Cierre de bloque -->

<!-- Código de Contenido Principal (main) -->
<!-- Apertura de bloque main -->
{% block main %}

<div class="container">{% for book in books %}
    <div class="row">
        <a href="{{ url_for('pagina_del_libro', isbn = book.isbn) }}">
        <div class="div">{{book.title}}</div>
        <div class="div">{{book.isbn}}</div>
        <div class="div">{{book.author}}</div>
        <div class="div">{{book.year}}</div>
        </a>      
    </div>
    {% endfor %}
</div>




<!-- Fin del bloque main -->
{% endblock %}

